@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@100..900&display=swap");

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.newheader {
  width: auto;
}

.header p {
  text-align: center;
}

.topnav {
  color: #fbfaf3;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.75rem 1rem 0.75rem;
  align-items: center;
}

.navlogo,
.navlinks a {
  font-weight: 500;
}

.navlogo {
  font-size: 1.25rem;
}

.navlinks {
  width: 20rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.apptitle {
  font-size: 2.5rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
}

.appdescription {
  font-size: 1.1rem;
  margin: 1rem;
}

.link {
  font-weight: 500;
}

.cloudform {
  position: relative;
}

.textarea {
  position: relative;
  resize: none;
  font-size: 1.5rem;
  padding: 2rem 2rem 1rem 2rem;
  height: 25vw;
  width: 75vw;
  border-radius: 0.5rem;
  border: 1px solid #000000;
  background: #ffffff;
  color: #000000;
  outline: none;
  box-shadow: 0px 8px 2px #707070;
}

.textarea:disabled {
  opacity: 0.5;
}

.textarea::placeholder {
  color: #5f6368;
}

.generatebutton {
  position: relative;
  bottom: 8.5vw;
  left: 54vw;
  background-color: #ffc83f;
  width: 24vw;
  height: 6vw;
  border: 1px solid #000000;
  display: flex;
  border-radius: 1vw;
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 500;
  color: #fbfaf3;
  font-size: 1.5rem;
  padding-top: 1.1rem;
  padding-left: 3.5vw;
}

.svgicon {
  transform: rotate(90deg);
  width: 1.2em;
  height: 1.2em;
  fill: currentColor;
}

.generatebutton:hover {
  background: #3f68af;
  border-radius: 1vw;
  transition: 0.08s;
}

.generatebutton:disabled {
  opacity: 0.9;
  cursor: not-allowed;
  background: #ffffff;
  color: #707070;
  padding-left: -5rem;
  padding-left: -5rem;
}

.messagelist {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  border-radius: 0.5rem;
}

.messagelistloading {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1rem;
}

.usermessage {
  background: #ffffff;
  padding: 1.5rem;
  color: #ececf1;
}

.thinktext {
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 300;
  color: #ffffff;
  margin-top: -2rem;
}

.usermessagewaiting {
  padding: 1.5rem;
  color: #ececf1;
  background: linear-gradient(to left, #070809, #1a1c20, #070809);
  background-size: 200% 200%;
  background-position: -100% 0;
  animation: loading-gradient 2s ease-in-out infinite;
  animation-direction: alternate;
  animation-name: loading-gradient;
}

@keyframes loading-gradient {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.apimessage {
  background: #ffffff;
  padding: 1.5rem;
  color: #ececf1;
  animation: fadein 0.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.apimessage,
.usermessage,
.usermessagewaiting {
  display: flex;
}

.markdownanswer {
  line-height: 1.75;
}

.markdownanswer a:hover {
  opacity: 0.8;
}

.markdownanswer a {
  color: #16bed7;
  font-weight: 500;
}

.markdownanswer code {
  color: #15cb19;
  font-weight: 500;
  white-space: pre-wrap !important;
}

.markdownanswer ol,
.markdownanswer ul {
  margin: 1rem;
}

.boticon,
.usericon {
  border-radius: 0.1rem;
}

.markdownanswer h1,
.markdownanswer h2,
.markdownanswer h3 {
  font-size: inherit;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 2rem 0;
  flex-direction: column;
}

.cloud {
  width: 80vw;
  height: 60vh;
  background: #ffffff;
  border-radius: 0.5rem;
  border: 1px solid #30373d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pointsnormal {
  width: 90%;
  height: 90%;
}

.pointsdim {
  width: 90%;
  height: 90%;
  opacity: 0.25;
}

.footertext {
  font-size: 1rem;
  color: #ffffff;
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 100;
}

.footer {
  background-color: #1673d0;
  display: flex;
  flex-direction: row;
  gap: 50rem;
  row-gap: 15rem;
  width: 110%;
  margin-left: -0.5rem;
  padding-left: 1rem;
  margin-bottom: -1rem;
}

/* Mobile optimization */
@media (max-width: 600px) {
  .main {
    padding: 1rem;
    max-height: 90vh;
  }

  .cloud {
    width: 22rem;
    height: 28rem;
  }
  .textarea {
    width: 22rem;
  }
  .topnav {
    border: 0px solid black;
    align-items: center;
    padding: 0.85rem 0.75rem 0.85rem 0.75rem;
  }

  .navlogo {
    font-size: 1.25rem;
    width: 20rem;
  }

  .markdownanswer code {
    white-space: pre-wrap !important;
  }
}
