<<<<<<< HEAD
=======
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@100..900&display=swap");

>>>>>>> 9dc2109be40aa5df76503cb4ffa1ad20a8799945
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

<<<<<<< HEAD
.header {
=======
.newheader {
>>>>>>> 9dc2109be40aa5df76503cb4ffa1ad20a8799945
  width: auto;
}

.header p {
  text-align: center;
}

.topnav {
<<<<<<< HEAD
  background-color: #6683b0;
  border-bottom: 1px solid #30373d;
=======
  color: #fbfaf3;
>>>>>>> 9dc2109be40aa5df76503cb4ffa1ad20a8799945
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.75rem 1rem 0.75rem;
  align-items: center;
}

<<<<<<< HEAD
.navlogo, .navlinks a {
=======
.navlogo,
.navlinks a {
>>>>>>> 9dc2109be40aa5df76503cb4ffa1ad20a8799945
  font-weight: 500;
}

.navlogo {
  font-size: 1.25rem;
<<<<<<< HEAD
  margin-left: 1rem;
=======
>>>>>>> 9dc2109be40aa5df76503cb4ffa1ad20a8799945
}

.navlinks {
  width: 20rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.apptitle {
  font-size: 2.5rem;
<<<<<<< HEAD
  font-weight: 500;
=======
  font-weight: 400;
>>>>>>> 9dc2109be40aa5df76503cb4ffa1ad20a8799945
  display: flex;
  justify-content: center;
}

.appdescription {
  font-size: 1.1rem;
  margin: 1rem;
}

.link {
  font-weight: 500;
}

.cloudform {
  position: relative;
}

.textarea {
  position: relative;
  resize: none;
<<<<<<< HEAD
  font-size: 1.1rem;
  padding: 1rem 2rem 1rem 2rem;
  width: 75vw;
  border-radius: 0.5rem;
  border: 1px solid #30373d;
  background: #070809;
  color: #ECECF1;
  outline: none;
=======
  font-size: 1.5rem;
  padding: 2rem 2rem 1rem 2rem;
  height: 25vw;
  width: 75vw;
  border-radius: 0.5rem;
  border: 1px solid #000000;
  background: #ffffff;
  color: #000000;
  outline: none;
  box-shadow: 0px 8px 2px #707070;
>>>>>>> 9dc2109be40aa5df76503cb4ffa1ad20a8799945
}

.textarea:disabled {
  opacity: 0.5;
}

.textarea::placeholder {
  color: #5f6368;
}

.generatebutton {
<<<<<<< HEAD
  position: absolute;
  top: 0.87rem;
  right: 1rem;
  color: rgb(230, 109, 109);
  background: none;
  padding: 0.3rem;
  border: none;
  display: flex;
}

.loadingwheel {
  position: absolute;
  top: 0.2rem;
  right: 0.25rem;
=======
  position: relative;
  bottom: 8.5vw;
  left: 54vw;
  background-color: #ffc83f;
  width: 24vw;
  height: 6vw;
  border: 1px solid #000000;
  display: flex;
  border-radius: 1vw;
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 500;
  color: #fbfaf3;
  font-size: 1.5rem;
  padding-top: 1.1rem;
  padding-left: 3.5vw;
>>>>>>> 9dc2109be40aa5df76503cb4ffa1ad20a8799945
}

.svgicon {
  transform: rotate(90deg);
  width: 1.2em;
  height: 1.2em;
  fill: currentColor;
}

.generatebutton:hover {
  background: #3f68af;
<<<<<<< HEAD
  border-radius: 0.2rem;
=======
  border-radius: 1vw;
  transition: 0.08s;
>>>>>>> 9dc2109be40aa5df76503cb4ffa1ad20a8799945
}

.generatebutton:disabled {
  opacity: 0.9;
  cursor: not-allowed;
<<<<<<< HEAD
  background: none;
=======
  background: #ffffff;
  color: #707070;
  padding-left: -5rem;
  padding-left: -5rem;
>>>>>>> 9dc2109be40aa5df76503cb4ffa1ad20a8799945
}

.messagelist {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  border-radius: 0.5rem;
<<<<<<< HEAD
=======
  color: "#000000";
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 300;
>>>>>>> 9dc2109be40aa5df76503cb4ffa1ad20a8799945
}

.messagelistloading {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1rem;
}

.usermessage {
<<<<<<< HEAD
  background: #070809;
  padding: 1.5rem;
  color: #ECECF1;
}

.usermessagewaiting{
  padding: 1.5rem;
  color: #ECECF1;
  background: linear-gradient(to left, #070809, #1a1c20, #070809);
=======
  background: #ffffff;
  padding: 1.5rem;
  color: #ececf1;
}

.thinktext {
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 300;
  color: #ffffff;
  margin-top: -2rem;
}

.usermessagewaiting {
  padding: 1.5rem;
  color: #ececf1;
  background: #ffffff;
>>>>>>> 9dc2109be40aa5df76503cb4ffa1ad20a8799945
  background-size: 200% 200%;
  background-position: -100% 0;
  animation: loading-gradient 2s ease-in-out infinite;
  animation-direction: alternate;
  animation-name: loading-gradient;
}

@keyframes loading-gradient {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.apimessage {
<<<<<<< HEAD
  background: #141619;
  padding: 1.5rem;
  color: #ECECF1;
=======
  background: #ffffff;
  padding: 1.5rem;
  color: #000000;
>>>>>>> 9dc2109be40aa5df76503cb4ffa1ad20a8799945
  animation: fadein 0.5s;
}

@keyframes fadein {
<<<<<<< HEAD
  from { opacity: 0; }
  to   { opacity: 1; }
}

.apimessage, .usermessage, .usermessagewaiting {
=======
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.apimessage,
.usermessage,
.usermessagewaiting {
>>>>>>> 9dc2109be40aa5df76503cb4ffa1ad20a8799945
  display: flex;
}

.markdownanswer {
  line-height: 1.75;
}

.markdownanswer a:hover {
  opacity: 0.8;
}

.markdownanswer a {
  color: #16bed7;
  font-weight: 500;
}

.markdownanswer code {
  color: #15cb19;
  font-weight: 500;
  white-space: pre-wrap !important;
}

<<<<<<< HEAD
.markdownanswer ol, .markdownanswer ul {
  margin: 1rem;
}

.boticon, .usericon {
  margin-right: 1rem;
  border-radius: 0.1rem;
}

.markdownanswer h1, .markdownanswer h2, .markdownanswer h3 {
  font-size: inherit;
}


=======
.markdownanswer ol,
.markdownanswer ul {
  margin: 1rem;
}

.boticon,
.usericon {
  border-radius: 0.1rem;
}

.markdownanswer h1,
.markdownanswer h2,
.markdownanswer h3 {
  font-size: inherit;
}

>>>>>>> 9dc2109be40aa5df76503cb4ffa1ad20a8799945
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 2rem 0;
  flex-direction: column;
}

.cloud {
<<<<<<< HEAD
  width: 75vw;
  height: 65vh;
  background: #070809;
=======
  width: 80vw;
  height: 60vh;
  background: #ffffff;
>>>>>>> 9dc2109be40aa5df76503cb4ffa1ad20a8799945
  border-radius: 0.5rem;
  border: 1px solid #30373d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pointsnormal {
  width: 90%;
  height: 90%;
}

.pointsdim {
  width: 90%;
  height: 90%;
  opacity: 0.25;
}

<<<<<<< HEAD
.footer {
  color: #5f6368;
  font-size: 0.8rem;
  margin: 1.5rem;
}

.footer a {
  font-weight: 500;
  color: #7a7d81;
}

.footer a:hover {
  opacity: 0.8;
=======
.footertext {
  font-size: 1rem;
  color: #ffffff;
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 100;
}

.footer {
  background-color: #1673d0;
  display: flex;
  flex-direction: row;
  gap: 50rem;
  row-gap: 15rem;
  width: 110%;
  margin-left: -0.5rem;
  padding-left: 1rem;
  margin-bottom: -1rem;
>>>>>>> 9dc2109be40aa5df76503cb4ffa1ad20a8799945
}

/* Mobile optimization */
@media (max-width: 600px) {
<<<<<<< HEAD

=======
>>>>>>> 9dc2109be40aa5df76503cb4ffa1ad20a8799945
  .main {
    padding: 1rem;
    max-height: 90vh;
  }

  .cloud {
    width: 22rem;
    height: 28rem;
  }
  .textarea {
    width: 22rem;
  }
  .topnav {
<<<<<<< HEAD
    border: 1px solid black;
=======
    border: 0px solid black;
>>>>>>> 9dc2109be40aa5df76503cb4ffa1ad20a8799945
    align-items: center;
    padding: 0.85rem 0.75rem 0.85rem 0.75rem;
  }

<<<<<<< HEAD
.navlogo {
  font-size: 1.25rem;
  width: 20rem;
}

.markdownanswer code {
  white-space : pre-wrap !important;
}

.footer {
  font-size: 0.7rem;
  width: 100%;
  text-align: center;
}
}
=======
  .navlogo {
    font-size: 1.25rem;
    width: 20rem;
  }

  .markdownanswer code {
    white-space: pre-wrap !important;
  }
}
>>>>>>> 9dc2109be40aa5df76503cb4ffa1ad20a8799945
